.navbar .navbar-item img {
  width: 144px;
  height: 36px;
}
.navbar {
  border-bottom: 1px solid #00d1b2;
}
.homeImage {
  width: 100%;
}
.homeImage img {
  display: block;
}

.presentationImgWrapper {
  text-align: center;
}
.presentationImg {
  height: 300px;
}

.modulesBox {
  text-align: center;
}
.modulesBox img {
  height: 180px;
}
